;
body{
  background-color: #F5F7FB;
  color: #293264;
overflow-x: hidden; 

}

body h1{
  font-size: 2.5rem;
}
.entrance-page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}
.entrance-page::before,
.entrance-page::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 0;
}

.entrance-page::before {
    top: -150px;
    right: -150px;
    background: #ffeaa7;
}

.entrance-page::after {
    bottom: -150px;
    left: -150px;
    background: #d5e5ff;
}


.entrance-page section {
    position: relative;
    z-index: 1;
    text-align: center;
}

.start-btn {
    position: relative;
    z-index: 1;
    background-color: #4D5B9E;
    color:#F5F7FB;
    padding: 1rem 3rem;
    border-radius: 15px;
   
}
.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid var(--divider);
    border-top-color: var(--hue-1);
}
.quiz-game-page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.quiz-game {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 4rem;
  
}
.quiz-game::before,
.quiz-game::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
    padding-bottom: 10px;
}

.quiz-game::before {
    top: -150px;
    right: -150px;
    background: #ffeaa7;
}

.quiz-game::after {
    bottom: -150px;
    left: -200px;
    background: #d5e5ff;
}


.questions{
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 1.75rem;
  z-index: 1;
}
.quiz{
  padding: 2rem;
  border-bottom: 1px solid #D6DBF5;
}
.answer-btn{
  background-color: #F5F7FB;
   color:#293264;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 0.5rem;
  border: 2px solid #4D5B9E   ;
}
.answer-btn:hover{
  background-color: #4D5B9E;
  color:#F5F7FB;
  
}
.answer-btn.selected  {
  background-color: #D6DBF5;
  color:#293264;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 0.5rem;
  border: 2px solid #4D5B9E   ;
}
.answer-btn.correct {
  background-color: #94D7A2;
  color:#293264;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 0.5rem;
  border: 2px solid #4D5B9E   ;
}
.answer-btn.wrong {
  background-color: #F8BCBC;
  color:#293264;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  margin: 0.5rem;
  border: 2px solid #4D5B9E   ;
}
.answer-btn.not-selected {
  background-color: transparent;
  color:wheat;
  
  border: 1px solid transparent;   ;
}
.check-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self:center;
  background-color: #4D5B9E;
  color:#F5F7FB;
  padding: 1rem 3rem;
  border-radius: 15px;
  margin-top: 2rem;
  width: max-content;  
}

@media (max-width: 480px) {
  .entrance-page {
    height: 100dvh;
    overflow-x: hidden;
  }
  .quiz{
    padding: 1rem;
    border-bottom: 1px solid #D6DBF5;
  }
  .quiz-game{
    overflow-x: hidden;
    font-weight: 300;
    padding: 0.5rem;
    }
  .questions{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.25rem;
    z-index: 1;
  }
  .answer-btn{
    background-color: #F5F7FB;
     color:#293264;
    padding: 0.5rem 0.75rem;
    border-radius: 15px;
    margin: 0.5rem;
    border: 2px solid #4D5B9E   ;
    font-size: 0.75rem;
  }
  .check-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:center;
    background-color: #4D5B9E;
    color:#F5F7FB;
    padding: 0.75rem 2rem;
    border-radius: 15px;
    width: max-content;
    margin-top: 0px;
  }
}