
body{
  background-color: #F5F7FB;
  color: #293264;
overflow-x: hidden; 

}

body h1{
  font-size: 2.5rem;
}
.entrance-page {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}
.entrance-page::before,
.entrance-page::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 0;
}

.entrance-page::before {
    top: -150px;
    right: -150px;
    background: #ffeaa7;
}

.entrance-page::after {
    bottom: -150px;
    left: -150px;
    background: #d5e5ff;
}


.entrance-page section {
    position: relative;
    z-index: 1;
    text-align: center;
}


.start-btn {
    position: relative;
    z-index: 1;
    background-color: #4D5B9E;
    color:#F5F7FB;
    padding: 1rem 3rem;
    border-radius: 15px;
   
}

.quiz-game {
  height: 100vh; 
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:  baseline;
  margin-left: 2rem;
  padding-right: 4rem;
  padding: 1rem;
  flex-wrap: wrap;
}
.questions{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 480px) {
  .entrance-page {
    height: 100dvh;
    overflow-x: hidden;
  }
}